<template>
    <require from="./styles.css"></require>
    <require from="./user-app.html"></require>



  <nav class="navbar navbar-light  border-bottom fixed-top" role="navigation" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">
           <i class="fa fa-user"></i>
            <span>Online Users</span>
      </a>
    </nav>

    <div class="container-md">
        <div class="row">
            <router-view class="col-sm-7 col-md-8"></router-view>
        </div>
    </div>
</template>
