:root {
  --backgroundColor: #f3f3fb;
  --textColor: #2b2b2b;
  --primaryColor: #4370e7;
  --fontSize: 20px;
  --borderRadius: 0.6rem;
  --spacingStack: 0.6rem;
  --spacingInline: 1rem;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: var(--fontSize);
}

html,
body {
  margin: auto;
  padding: 40px 0;

}


.navbar  {
  float: left;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;

}




body {
  background: var(--backgroundColor);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}


a {
  color: var(--primaryColor);
  cursor: pointer;
}

button {
  font-size: 1.4rem;
  line-height: 0.3;
  min-width: 6rem;
  color: #fff;
  /*background-color: #e3f2fd;*/
  padding: var(--spacingStack) var(--spacingInline);
  background: var(--primaryColor);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  font-weight: 600;
}

a:hover,
button:hover {
  filter: brightness(1.2);
}

a:active,
button:active {
  filter: brightness(0.8);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




