<template>
    <div class="container-md ">
      <h1>${heading}</h1> </br>
      <h6>${currentDate}</h6>



      <form submit.trigger="addUser()">
        <input type="text" value.bind="userName" placeholder="Name" class="u-full-width" title="Please insert the Name" required>
        <input type="text" value.bind="userWorkplace" placeholder="Workplace" class="u-full-width" title="Please insert the Workplace" required>
        <input type="text" value.bind="userTime" placeholder="Login Time" class="u-full-width" title="Please insert the Time" required>
        <input type="email" value.bind="userEmail" placeholder="Email Address" class="u-full-width" title="Please insert the E-mail" required>
        <button type="submit" class="u-full-width">Login Please!</button>
      </form>

      <table class="u-full-width">
        <tr>
          <th>Name</th>
          <th>Workplace</th>
          <th>Login Time</th>
          <th>E-mail</th>
          <th>Logout</th>

        </tr>
        <tr repeat.for="user of users">
          <td>${user.name}</td>
          <td>${user.workplace}</td>
          <td>${user.time}</td>
          <td>${user.email}</td>


          <td><button click.trigger="removeUser(user)">Logout</button></td>
        </tr>
      </table>



    </div>

</template>



